@import "tailwindcss";

:root {
  color-scheme: light;
  --background: rgb(254, 250, 235);
  --foreground: #171717;

  --v1: #ae7dbc;
  --v2: #9e5846;
  --v3: #4b261d;
  --transparentv3: #5e30d900;
  --v4: #7b5749;
  --s1: #fea798;
  --s2: #ff846e;
  --cloud: #fff0e6;

  --land-1: #91613c;
  --land-2: #69482e;

  --sun-2: #e99a61;

  --ocean: #8fa7e2;
  --pad: #336746;
  --transparent-pad: #5e30d900;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafaf6;
  }
} */

@theme inline {
  --breakpoint-xs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply min-h-screen overflow-x-hidden antialiased;
  background-color: var(--background);
  color: var(--foreground);
}

.button-filled {
  @apply w-fit rounded-full border border-black bg-black text-white px-4 py-2 text-sm font-semibold transition ring-black ring-offset-1 hover:cursor-pointer focus-visible:outline-none focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-60;
}

.button-border {
  @apply w-fit rounded-full border px-4 py-2 text-sm font-semibold transition hover:cursor-pointer focus-visible:outline-none focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-60;
}

.button-plain {
  @apply w-fit rounded-full px-4 py-2 text-sm font-semibold transition hover:cursor-pointer focus-visible:outline-none focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-60;
}
