@import "tailwindcss";

:root {
  color-scheme: light;
  --background: rgb(254, 250, 235);
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafaf6;
  }
} */

@theme inline {
  --breakpoint-xs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply min-h-screen overflow-x-hidden antialiased;
  background-color: var(--background);
  color: var(--foreground);
}

.button {
  @apply w-fit px-4 py-2 rounded-full text-sm font-semibold transition ease-in-out hover:cursor-pointer focus-visible:outline-none focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-60 active:scale-[.95];
}

.button-plain {
  @apply hover:outline-none hover:ring-2;
}

.button-filled {
  @apply border border-black bg-black text-white focus-visible:ring-black focus-visible:ring-offset-1 hover:-translate-y-[2px] hover:-translate-x-[2px] hover:shadow-[2px_2px_0_rgba(50,50,50,0.7)] disabled:hover:translate-y-0 disabled:hover:translate-x-0 disabled:hover:shadow-none;
}

.button-border {
  @apply border border-black hover:-translate-y-[2px] hover:-translate-x-[2px] hover:shadow-[2px_2px_0_rgba(0,0,0,1)] disabled:hover:translate-y-0 disabled:hover:translate-x-0 disabled:hover:shadow-none;
}

.card {
  @apply rounded-xl border bg-background p-6 shadow-[5px_5px_0_rgba(0,0,0,1)];
}
